<html xmlns:th="http://www.thymleaf.org">
<head><meta charset="ISO-8859-1">
<title>jobiak.ai</title>
</head>
<body>

	<h1>Bank Account</h1>
	<h2 th:text="${user.bank_name}" style="background-color: coral;"></h2>
	<h2 th:text="${user.branch}" style="background-color:orange;"></h2>
	<h2 th:text="${user.account_id}" style="background-color:crimson;"></h2>
	<h2 th:text="${user.name}" style="background-color:maroon;"></h2>
	<h2 th:text="${user.type}" style="background-color:rgb(64, 0, 64);"></h2>
	<h2 th:text="${user.balance}" style="background-color:rgb(128, 64, 64);"></h2>
	
</body>
</html >